
.intro-header{
  margin-bottom: 0;
}

.site-heading{
  text-align: center;
  padding: 20px;
  }

h1{
  font-size: 50px;
}

.navbar-right{
  float: right;
  margin-right: 5px;
}

.navbar-nav>li{
  float: left;
}

.nav>li>a{
  padding: 10px;
}

.post-preview>a>.post-title{
  font-size: 18px;
}

.post-content-preview {
    font-size: 13px;
    font-style: italic;
    color: #a3a3a3;
}

#nextr{
  float: right;
  padding: 0 10px;
  border: 1px solid #eee;
  color: #404040;
  font-weight: 700;
  font-size: 16px;
}

#nextl{
  float: left;
  padding: 0 10px;
  border: 1px solid #eee;
  color: #404040;
  font-weight: 700;
  font-size: 16px;
}
