body {
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
    line-height: 1.7;
    font-size: 16px;
    color: #404040;
    overflow-x: hidden;
}

h2{
  font-weight: 700;
}

a:hover{
  text-decoration: none;
}

.intro-header{
  background-image: url(../img/bg.jpg);
  background-size: 100%;
}

.site-heading{
  text-align: center;
  padding: 150px;
  }


h1,.statue{
  color: #eee;
}

h1{
  font-size: 80px;
}

.statue{
  font-size: 18px;
}




.navbar{
  z-index: 1000;
  position: absolute;
  width: 100%;
}

.navbar a{
  color: #fff;
  line-height: 20px;
  font-weight: 800;
}

.navbar-brand{
  padding: 20px;
}

.navbar a:hover{
  text-decoration: none;
  color: rgba(255,255,255,.5);
}

.nav>li>a:focus, .nav>li>a:hover{
  background-color: transparent;
}

.nav>li>a{
  padding: 20px;
  font-weight: 800;
  font-size: 15px;
}

.post-preview>a>.post-title{
  font-size: 26px;
  line-height: 1.3;
  margin-bottom: 10px;
}

.post-preview a{
  color: #404040;
}


.sidebar-container h5 a ,
.sidebar-container .tags a{
    color: #ccc!important;
    text-decoration: none;
}

.post-preview>a>.post-subtitle {
    font-size: 16px;
}

.post-preview>a>.post-subtitle {
    font-size: 15px;
    line-height: 1.3;
    margin: 0;
    font-weight: 300;
    margin-bottom: 10px;
  }


.sidebar-container .short-about img {
    width: 80%;
    display: block;
    border-radius: 5px;
    margin-bottom: 20px;
}

.post-content-preview{
  font-size: 14px;
  font-style: italic;
  color: #a3a3a3;
  line-height: 1.7;
}

.post-preview a:hover,
.post-content-preview:hover{
  text-decoration: none;
  color: #0085a1;
}

.post-preview>.post-meta {
    font-family: Lora,'Times New Roman',serif;
    color: #ccc;
    font-size: 16px;
    font-style: italic;
    margin-top: 0;
}

.sidebar-container {
    color: #bfbfbf;
    font-size: 14px;
}

p{
  margin: 30px 0;
}

footer{
  padding: 50px;
}

footer .copyright{
  text-align: center;
  font-size: 14px;
  color: #777;
}
