<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/js/vue.js"></script>
    <title>v-model</title>
</head>
<body>
    <h1>v-model 实例</h1>
    <hr>
    <div id="app">
        <p>原始文本信息：<span v-text="message"></span></p>
        <h3>文本框</h3>
        <p>v-model:<input type="text" v-model="message"></p>
        <p>v-model.lazy:<input type="text" v-model.lazy="message"></p>
        <p>v-model.number:<input type="text" v-model.number="message"></p>
        <p>v-model.trim:(去空格)<input type="text" v-model.trim="message"></p>
        <hr>
        <h3>文本域</h3>
        <textarea cols="30" rows="10" v-model="message"></textarea>
        <hr>
        <h3>多选框绑定一个值</h3>
        <input type="checkbox" id="isTrue" v-model="isTrue">
        <label for="isTrue">{{isTrue}}</label>
        <hr>
        <h3>多选框绑定数组</h3>
        <p>
            <input type="checkbox" id="anluhou" value="anluhou" v-model="web_names">
            <label for="">anluhou</label>
            <input type="checkbox" id="wujie" value="wujie" v-model="web_names">
            <label for="">wujie</label>
            <input type="checkbox" id="wjj" value="wjj" v-model="web_names">
            <label for="">wjj</label>
        </p>
        <p>{{web_names}}</p>
        <hr>
        <h3>单选框的绑定</h3>
        <p>
            <input type="radio" id="one" value="男" v-model="sex">
            <label for="one">男</label>
            <input type="radio" id="two" value="女" v-model="sex">
            <label for="two">女</label>
            <p>你选择的性别是：{{sex}}</p>
        </p>
    </div>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                message: 'hello vue!',
                isTrue: false,
                web_names:[],
                sex:''
            }
        })
    </script>
</body>
</html>
